.comments_icon {
    width: 14px;
    height: 14px;
    background-image: url(../../assets/shared/icon-comments.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: .15rem;
}